# Logs
logs
*.log
npm-debug.log*
node_modules
dist
dist-ssr
*.local
.env
.env.local
.env.matchreadytx
functions/.env*
.firebase
functions/lib
functions/node_modules
.DS_Store
*.tsbuildinfo
keys/*
!keys/README.md
*-firebase-adminsdk*.json
